DEBUG=true

DB_DRIVER="/usr/local/mysql-connector-odbc-8.0.33-macos13-arm64/lib/libmyodbc8a.so"
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=deib
DB_CHARSET=utf8mb4

DB_CONCEPT_PATH = db_concept_deib.json
DB_CONCEPT_PATH_S = db_concept_s_deib.json
DB_SCHEMA_PATH = db_schema_deib.json
DB_VIEW_PATH = db_view_deib.json

TELEGRAM_TOKEN=