[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
nltk = "*"
matplotlib = "*"
click = "*"
telepot = "*"
python-socketio = "~=4.4"
python-engineio = "~=4.4"
mysql-connector-python = "*"
sqlparse = "*"
rasa = "~=3.5"
python-dotenv = "*"
pyyaml = "*"
shutup = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
